#userPageContainer{
    background-color: #5383e8;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
}
#bannerProfPic{
    width: 100px;
    height: 100px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}
#banner{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
}
#banner > div{
    display: flex;
    column-gap: 22px;
    margin-left: 45px;
}
#PicAndLvl{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bannerSumName > h1{
    margin: 0;
}
#bannerProfPic{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#sumLvl{
    width: 37px;
    padding-top: 3px;
    position: absolute;
    background: url('https://s-lol-web.op.gg/static/images/site/summoner/bg-levelbox.png');
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
    margin-bottom: -10px;
}
#sumLvl> span{

}
#rankDisplayAndGamesContainer{
    width: 100%;
    display: flex;
}
#rankDisplay{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}
#allGamesContainer{
    width: 60%;
    min-width: 750px;
}
#sumLvl{

}
.RankContainer{
    width: 315px;
    height: 170px;
    background-color: #f2f2f2;
    display: flex;
}
.RankImage{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.rankPlaceholder{
    background-image: url('../../images/default.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
}
.RankInfo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
}
.RankInfo>span:last-child{
    font-size: 19px;
    font-weight: bold;
    color: #879292;
}
.RankInfo>span:first-child{
    font-size: 17px;
    color: #879292;
}
#background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #5383e8;
}
.gameContainer{
    width: 100%;
    height: 130px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}
.Gameinfo{
    width: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.kdaAndRatio{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.KDA{
    display: flex;
}
.KDA > div{
    margin-left: 2px;
    margin-right: 2px;
}
.Ratio{

}
.ChampStats{
    width: 15%;
    height: 100%;
}
.items{
    width: 20%;
    height: 100%;
}
.participants{
    width: 20%;
    height: 100%;
}
.divider{
    width: 40%;
    height: 2px;
    background-color: purple;
    margin: 5px auto;
}
.gameType{
    display: flex;
    height: 18px;
    width: 100%;
    justify-content: center;
}
.whenGameCreated{
    display: flex;
    height: 18px;
    width: 100%;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.winOrLoss{
    display: flex;
    height: 18px;
    width: 100%;
    justify-content: center;
}
.GameLength{
    display: flex;
    height: 18px;
    width: 100%;
    justify-content: center;
}
.champPic{
    width: 49px;
    height: 49px;
    background-image: url('http://ddragon.leagueoflegends.com/cdn/12.5.1/img/champion/Aatrox.png');
    background-size: contain;
    border-radius: 50px;
}
.sumSpellContainer{
    width: 50px;
    height: 60px;
}
.SumSpell1{
    width: 30px;
    height: 30px;
    background-image: url('http://ddragon.leagueoflegends.com/cdn/12.5.1/img/spell/SummonerHeal.png');
    background-size: contain;
    border-radius: 5px;
    margin-bottom: 3px;

}
.SumSpell2{
    width: 30px;
    height: 30px;
    background-image: url('http://ddragon.leagueoflegends.com/cdn/12.5.1/img/spell/SummonerHeal.png');
    background-size: contain;
    border-radius: 5px;
    margin-top: 3px;
}
.ChampData{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.Champimages{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
}
.Champtext{
    height: 15%;
}
@media (max-width: 1127px){
    #rankDisplayAndGamesContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 33px;
        align-items: center;
    }
    .rankBody{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 5vh;
        grid-row-gap: 5vh;
        row-gap: 5vh;
    }
    #rankDisplay{
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 5vh;
        row-gap: 5vh;
    }
    #allGamesContainer{
        width: 60%;
        min-width: 750px;
        background-color: #879292;
    }
    .RankContainer{
        width: 100%;
        height: 235px;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .RankImage{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .gameContainer{
        width: 100%;
        height: 130px;
        background-color: whitesmoke;
    }
    .rankPlaceholder{
        background-image: url('../../images/default.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .RankInfo{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        grid-row-gap: 5px;
        row-gap: 5px;
    }
    .RankInfo>span:last-child{
        font-size: 50px;
        font-weight: bold;
        color: #879292;
    }
    .RankInfo>span:first-child{
        font-size: 40px;
        color: #879292;
    }
  }
