#userPageContainer{
    height: 100vh;
    background-color: #5383e8;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
#bannerProfPic{
    width: 100px;
    height: 100px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}
#banner{
    display: flex;
    height: 30%;
    width: 100%;
}
#rankDisplayAndGamesContainer{
    height: 70%;
    width: 100%;
    display: flex;
}
#rankDisplay{
    height: 100%;
    width: 30%;
}
#gamesContainer{
    height: 100%;
    width: 70%;
}
#sumLvl{

}
