#homePageContainer {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: #5383e8;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchAndRegionSelectContaienr {
    display: flex;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
}

.searchAndRegionSelectContaienrError {
    display: flex;
    background-color: white;
    padding: 8px;
    border: 1px solid red;
    border-radius: 5px;
    align-items: center;
}

#regions {
    border: none;
    background-color: blue;
}

#formContainer {
    display: flex;
    height: 60%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

#imgContainer {
    display: flex;
    height: 40%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

#img {
    background-image: url(../../images/Daco_5184114.png);
    background-size: cover;
    width: 474px;
    height: 245px;
}

#loadingScreen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #72727266;
}

#loadingGif {
    width: 180px;
    height: 100px;
    background-image: url(../../images/loading2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

#WeeklyRotationContainer {
    background-color: whitesmoke;
    width: 400px;
    height: 200px;
}
